body {
    margin: 0;
    font-family: 'Hubballi', cursive;
    color:#1d2f41;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
    font-size: 60px;
    color: #47739e;
}

h2 {
    font-size: 48px;
}

p {
    font-size: 36px;
}

.container {
    text-align: center;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 800px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.message {
    margin: 0 auto;
    max-width: 300px;
    color: #1d2f41;
    background-color: #47739e;
    padding: 10px 25px;
    border-radius: 3px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.player-1-score, .player-2-score, h1 {
    background-color: #1d2f41;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px 25px;
    color: #47739e;
    border-radius: 3px;
}

.scoreboard, .dice-container {
    display: flex;
    justify-content: space-around;
}

.player-dice {
    color: #88b7e6;
    background-color: #47739e;
    padding: 25px;
    box-shadow: rgba(29, 47, 65, 0.17) 0px -23px 25px 0px inset, rgba(29, 47, 65, 0.15) 0px -36px 30px 0px inset, rgba(29, 47, 65, 0.1) 0px -79px 40px 0px inset, rgba(29, 47, 65, 0.06) 0px 2px 1px, rgba(29, 47, 65, 0.09) 0px 4px 2px, rgba(29, 47, 65, 0.09) 0px 8px 4px, rgba(29, 47, 65, 0.09) 0px 16px 8px, rgba(29, 47, 65, 0.09) 0px 32px 16px;
    border-radius: 5px;
    margin: 0;
}

.active {
    display: block;
    border: 3px solid rgb(0, 0, 0);
}

.roll-btn {
    cursor: pointer;
    padding: 20px 50px;
    margin: 40px 0;
    font-size: 36px;
    font-family: 'Hubballi', cursive;
    border-radius: 3px;
    border: none;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 0.3s;
}

.roll-btn:hover, 
.roll-btn:focus {
    background-color: #1d2f41;
    color: #47739e;
}